.search__container {
  @apply mt-8 mx-10;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 300px;
}

.search__input {
  @apply sticky top-20 px-12 py-2 bg-transparent text-gray-700 bg-no-repeat border border-gray-500;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-size: 18px 18px;
  background-position: right 95%;
  transition-duration: 250ms;
  width: 70%;
  background-position: 95% center;
  transition: transform 250ms ease-in-out;
  line-height: 18px;
  color: #575756;
  border-radius: 50px;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  @apply text-gray-600 opacity-75 uppercase tracking-widest;
}

.search__input:hover,
.search__input:focus {
  @apply px-0 py-4 outline-none border-transparent border-b border-gray-500 rounded-none bg-right border-t-0 border-l-0 border-r-0;
  background-position: right 100%;
}
